!.env.production
.env*.local
.env.json
yarn.lock
web/build
gin-bin
yarn-error.log
*.log
node_modules
bin/*
*.db
api/gin-bin

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# OSX
.idea
